
*
{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
background-color: whitesmoke;}
h1
{
   background-color:black;
color: whitesmoke;
font-size: 50px;
font-weight: 100px;
border: 400px;
padding: 10px;}


.subheader
{color: black;
    
}


.List
{
    background-color: black;
    color: white;
    font-weight: bold;

    border-bottom: 400px; 
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;


}

#preview
{color: red;}